body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  grid-gap: 28px;
}
.post {
  position: relative;
  cursor: pointer;
  display: block;
}
.post-image {
  margin: 0;
}
.post-image img {
  width: 100%;

  vertical-align: top;
}
.post-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: white;
  text-align: center;
  display: none;
  text-align: center;
}
.post:hover .post-overlay {
  display: flex;
}
.post-text {
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .post-list {
    grid-gap: 3px;
    font: 10px;
  }
  .post-text{
    display: none;
  }
}
