@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v8zsto');
  src:  url('fonts/icomoon.eot?v8zsto#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v8zsto') format('truetype'),
    url('fonts/icomoon.woff?v8zsto') format('woff'),
    url('fonts/icomoon.svg?v8zsto#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e944";
}
.icon-email:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
